/* Utilizar éste CSS para parámetros gloables de toda la aplicación */

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* HEADER - CABECERA */
/* .header{} */
.header-superior{
    max-width: 1000px;
    margin: 0 auto;
}
.header-superior__image{
    height: 2em;
    margin: 0.3em 0;
}
.header-superior__title{
    display: none;
}

.header-nav {
    /* background: rgb(238, 238, 238); */
    border-style: solid none;
    border-color: #cecece;
}
.header-nav__center { 
    max-width: 1000px;
    margin: 0 auto;
    border-style: none solid;
    border-color: #cecece;
}
.header-nav__link {
    display: inline-block;
    font-size: 0.7em;
    padding: 1em 2em;
    text-decoration: none;
    color: black;
    border-right: solid #cecece;
}

/* Fondo grisaceo para el resto de la página  */
main, footer {
    background: rgb(238, 238, 238);
    display: inline-block;
    width: 100%;
}


/* Zona del contenio - MAIN */
.main_wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

/* Pié de página - FOOTER */
.footer-nav{
    max-width: 1000px;
    margin: 0 auto;
}
.footer-nav__link {
    text-decoration: none;
    color: black;
    padding: 1em;
    display: inline-block;
}




/* TODO: Dejar de usar este estilo para usar BEM (aunque BEM sea una mierda) */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background: white; */
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.enlace_articulo {
    text-align: left;
    padding: 0;
}

li a:hover {
    background-color: white;
}

